body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    background-size: cover;
}
div {
    box-sizing: border-box;
}
#background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
}
.transparent {
    opacity: 0;
    filter: alpha(opacity=0);
}
.animated {
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
#header {
    width: 960px;
    margin: 0 auto;
}
#title {
    display: inline-block;
    margin: 32px 0 16px;
    color: #fff;
    text-decoration: none;
    background-color: #000;
    mix-blend-mode: multiply;
}
h1 {
    display: inline;
    font-family: 'KJV1611Regular';
    font-weight: normal;
    font-style: normal;
    font-size: 48px;
}
#content {
    position: relative;
    width: 960px;
    height: 600px;
    margin: 0 auto;
    z-index: 1;
}
.box {
    position: relative;
    float: left;
    width: 480px;
    height: 300px;
    border: 1px solid #444;
    background-color: #fff;
}
.rgbValue {
    float: left;
    margin-left: 16px;
}
.input-small {
    width: 272px;
    margin-left: -4px;
}
.rgbDecimalValue {
    display: inline-block;
    float: right;
    width: 30px;
    margin-right: 48px;
    text-align: right;
}
#hexValue {
    margin: 0;
    position: absolute;
    top: 32px;
    left: 50%;
    font-size: 24px;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
#color {
    width: 128px;
    height: 128px;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #808080;
}
.button {
    width: 96px;
    height: 32px;
    margin-top: 24px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#bigBox {
    clear: both;
    width: 100%;
    padding: 32px 0;
    border: 1px solid #444;
    background-color: #fff;
}
.hsvValue {
    float: left;
    margin-left: 48px;
}
.input-big {
    width: 576px;
    margin-left: -38px;
}
.hsvDecimalValue {
    display: inline-block;
    float: right;
    width: 30px;
    margin-right: 48px;
    text-align: right;
}
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
